<h1>Nova Messagem</h1>
<h3>(da humanidade à sobrecarga alienígena)</h3>

<p>O nível de ameaça vai de 1 (seguro) a 3 (perigoso)</p>

<%= render 'form', message: @message %>

<%= link_to 'Back', messages_path %>
