<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot-Alien</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style='padding-top: 30px'></div>
    <%= yield %>
  </body>
</html>
